.container{
  max-width: 1440px;
  margin: 0 auto;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #11100E , #302F2A);
  padding: 0 20px;
}
  
.heading{
  color: #fff;
}
.heading h1{
  font-size: 40px;
  font-weight: 500;

}
.heading-desc{
  padding: 10px 0;
  text-align: center;
}
/* nav */
.nav{
  background-image: linear-gradient(to bottom,#FFDA00,#FEAF03);
}
.nav-list{
  list-style: none;
  width: 100%;
}
.nav-list .nav-item{
  display: inline-block;
  /* border-right: 1px solid #000; */
    transition: all .3s linear;
}
.nav-item:hover > a{
  transform: scale(1.1);
}
.nav-item:hover > .line{
  
}
.nav-list .nav-item a{
  text-decoration: none;
  color: #11100E;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  display: inline-block;
  
}
.line{
  width: 2px;
  height: 20px;
  background-color: #000;
  display: inline-block;
  line-height: 50px;
}